@import './variables.scss';

.invoice {
  max-width: 800px;

  &__date {
    text-align: right;
  }

  &__info {
    display: inline-block;
    text-align: right;
  }

  &__products-list {
    text-align: center;

    li {
      max-width: 800px;
      text-align: right;
    }

    input {
      margin: 5px 0;
      width: 500px;
    }
  }

  &-select {
    width: 504px;
    border: none;
    border-bottom: 2px solid darkgray;
    background-color: $background-color;
  }

  &-select:focus {
    border: none;
  }

  &__vat {
    padding: 0 0 0 40px;
    text-align: right;
  }

  &-add-button {
    text-align: right;
    margin-right: 10px;
  }
}
