.cart {
    text-align: right;
}

.cart h3 {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 40px;
    color: darkblue;
}

.cart__sumary {
    font-size: 26px;
    font-weight: bold;
    margin-right: 20px;
    letter-spacing: 2px;
    color: darkgreen;
}

.cart-produts__item th{
    text-align: right;
    color: darkblue;
    padding: 15px;
    background-color: #364150;
    color: rgb(167, 162, 162);
    text-transform: uppercase;
}

.cart-produts__item button {
    width: 50px;
}




