@import './variables.scss';

.cart {
  margin-top: 20px;

  input {
    box-sizing: border-box;
    width: 40px;
    background-color: $background-color;
    outline: none;
    border: 0;
    padding-left: 15px;
    border-bottom: 2px solid black;
  }

  &__sumary {
    margin-right: 60px;
    letter-spacing: 2px;
    color: darkgreen;
    text-align: right;

    p {
      font-size: 24px;
      margin-right: 25px;
      font-weight: bold;
    }
  }

  &-produts__item {
    button {
      width: 50px;
      box-shadow: 3px 3px 5px gray;
    }
  }
}
