.cart {
  &-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-popup {
    margin: auto;
    width: 450px;
    height: 350px;
    background-color: #e7e6e6;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;

    &__inside {
      margin-top: 130px;

      h4 {
        padding-top: 20px;
        color: rgb(26, 51, 71);
      }

      span {
        margin-right: 10px;
        font-weight: 200;
      }

      p {
        margin-right: 10px;
        font-weight: bold;
      }
    }

    &__buttons {
      button:nth-child(2) {
        margin-left: 150px;
      }
    }
  }
}
