.cart {
    text-align: right;
}

.cart h3 {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 40px;
    color: darkblue;
}

table {
    margin-top: 40px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid lightblue;
    text-align: right;
    color: darkblue;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(239, 247, 247);
}

.cart__sumary {
    font-size: 26px;
    font-weight: bold;
    margin-right: 20px;
    letter-spacing: 2px;
    color: darkgreen;
}
