.cart-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
}
.cart-popup {
    margin: auto;
    width: 450px;
    height: 350px;
    background-color: azure;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.cart-popup__inside {
    margin-top: 130px;
}

.cart-popup__inside h4 {
   padding-top: 20px;
    color: rgb(26, 51, 71);
}


.cart-popup__inside span {
    margin-right: 10px;
    font-weight: 200;
}

.cart-popup__inside p {
    margin-right: 10px;
    font-weight: bold;
}

.cart-popup__buttons button:nth-child(2) {
   margin-left: 150px;
   
}