.edit-form {
  text-align: center;
}

.edit-form .btn-danger {
  width: 100px;
}

.edit-form form {
  margin: 20px 0;
}

.edit-form form input {
  text-align: center;
  font-size: 16px;
  width: 200px;
  background-color: #e7e6e6;
}
