@import './variables.scss';

.headbar {
  height: 25px;
  padding: 15px;

  &__icons {
    .menu-arrow {
      font-size: 16px;
      padding-bottom: 5px;
    }

    button {
      font-size: 30px;
      border: none;
      outline: none;
      background-color: $background-color;
      cursor: pointer;
    }
  }
}
