.inventory {
    text-align: center;
}

.inventory > button{
    width: 200px;
}

.inventory > .btn-danger{
    width: 100px;
}

.admin-product-list button {
    margin: 0;
    padding: 10px 0;
    width: 100px;
}

.admin-product-list .btn-danger {
    width: 50px;
}

.admin-product-list hr {
    max-width: 600px;
    border: 0;
    border: 1px solid lightblue;  
}

.admin-product-list .error-text {
    font-size: 12px;
}

