@import './variables.scss';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-modal {
    background-color: $background-color;
    border-radius: 5px;
    color: #364150;
    margin-bottom: 200px;
    width: 300px;
    height: 150px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(51, 51, 51);

    &__buttons {
      display: flex;
    }
  }
}
