.registration-form {
    text-align: center;
    margin-top: 50px;
}

.registration-form form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-select {
    outline: none;
    border: none;
    width:200px;
    margin: auto;
    font-size: 16px;
    background-color: white;
    border-bottom: 1px solid lightblue
}

.registartion-link {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    
}
