.registration-form {
    text-align: center;
    margin-top: 50px;
}

.registration-form form {
    display: flex;
    flex-direction: column;
}

.registration-select {
    outline: none;
    width:200px;
    background-color: #E7E6E6;
}

.registartion-link {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

.registartion-link a:link, a:visited {
    color: #364150;
}
