.registration-form {
  text-align: center;
  margin-top: 50px;
}

.registration-form form {
  display: flex;
  flex-direction: column;
}

.registration-select {
  outline: none;
  width: 200px;
  background-color: #e7e6e6;
}

.registartion-link {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

a:visited .registartion-link a:link {
  color: #364150;
}
