@import './variables.scss';

.search {
  display: flex;
  text-transform: uppercase;
  font-size: 15px;

  &__select {
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: $background-color;
    border-bottom: 2px solid darkgray;
    text-transform: uppercase;
  }

  &__id {
    margin-left: 20px;
  }

  &__input {
    margin-left: 5px;
    outline: none;
    border: 0;
    border-bottom: 2px solid darkgray;
    background-color: $background-color;

    &:focus {
      background-color: $background-color;
      outline: none;
      border-bottom: 2px solid rgb(97, 96, 96);
    }
  }
}
