.shop {
    margin: auto;
    margin-left: 50px;
}
.products-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}


.product-item {
    padding: 20px;
    min-width: 220px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: white;
    
}

.product-item input {
    outline: none;
    border: none;
    margin-top: 20px 0 20px 10px;
    font-size: 16px;
    width: 40px;
    padding-left: 20px;
 }

.product-item h3 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 24px;
    color: rgb(65, 56, 56);
}

.product-item__buttons {
    display: flex;
}

.product-item__buttons .btn {
    width: 80px;
}

.product-item p {
    letter-spacing: 2px;
}

.product-item:nth-child(last) {
    margin-right: 0;
}

.product-item__price {
    font-size: 22px;
    font-weight: bold;
}

.product-item__order {
    font-size: 22px;
}

.product-item__total {
    font-size: 22px;
}

#total-price {
    font-weight: bold
}
#stock-error {
    color: red;
}

