.shop {
    margin: auto;
    font-size: 22px;
}
.products-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.product-item {
    padding: 20px;
    min-width: 220px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: white;
    
}

.product-item h3 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 24px;
    color: rgb(65, 56, 56);
}

.product-desc input {
    outline: none;
    border: none;
    margin: 20px 0 20px 10px;
    font-size: 16px;
    width: 40px;
    padding-left: 20px;
    border-bottom: 1px solid  rgb(65, 56, 56);
 }

.product-desc__price {
    text-align: right;
    font-weight: bold;
}

.product-desc__order {
    text-align: right;
}

.product-desc__total, .product-desc__buttons, .product-desc__instock {
    display: flex;
    justify-content: space-between;
}
.product-desc__total span {
    font-weight: bold;
    color: green;
}

.product-desc__buttons .btn {
    width: 80px;
}

#stock-error {
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-size: 16px;
}

