.btn-primary {
  background-color: rgb(35, 170, 35);
  box-shadow: 3px 3px 5px gray;

  &:hover {
    background-color: lightgreen;
  }

  &:disabled {
    background-color: rgb(200, 245, 200);
  }
}
