@import './styles/login-form.css';
@import './styles/wishlist.scss';
@import './styles/dashboard.css';
@import './styles/board.css';
@import './styles/content.css';
@import './styles/sidebar.css';
@import './styles/headbar.scss';
@import './styles/shop.css';
@import './styles/buttons/btn.css';
@import './styles/registration-form.css';
@import './styles/cart.scss';
@import './styles/cart-popup.css';
@import './styles/table.css';
@import './styles/inventory.scss';
@import './styles/form.css';
@import './styles/edit-product.scss';
@import './styles/orders.scss';

body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 230, 230);
}

h3 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2b3542;
}
